body {
    font-size: 1.2em;
    font-family: serif;
    background-color: #fddaef;
    margin: 0 40px;
    text-align: justify;
  }
  
  p {
    line-height: 125%;
  }
  
  h1 {
    color: blue;
    font-family: arial;
  }
  
  h2, h3 {
    color: #cc22ff;
    font-family: arial;
  }
  
  pre {
    border: 1px solid black;
    width: 340px;
    padding: 0 20px;
  }
  
  #footer, #header {
    text-align: center;
  }

  #exemple:first-letter {
    font-weight: bold;
    font-size: 300%;
  }
  
  .jocs {
    font-family: arial;
    font-size: 0.9em;
    color: red;
    font-weight: bold;
  }
  
  .eldenring {
    color: #E46D54;
    font-weight: bold;
    font-size: large;
    line-height: normal;
  }

  .llista{
      font-weight: bold;
      color: #66281B;
  }