body {
   font-family: serif, sans-serif;
   margin: 0 0 10px 0;
   padding: 0;
}

header {
   background-color: #242424;
   color: white;
   height: 65px;
   padding: 0 340px;
}

#navegation {
   list-style: none;
   display: inline-flex;
   font-size: 14px;
   font-weight: 400;
}

#navegation > li {
   padding: 12px 20px;
}

#navegation > li:visited {
   text-decoration:none;
   color: #cf750f;
}

#series {
   color: #cf750f;
}

.main-container {
   padding: 0 400px;
   text-align: justify;
   line-height: 1.5;
}

.titol {
   font-size: 50px;
   color: #0b7c82;
}

.subtitol {
   font-size: 40px;
   color: #0b7c82;
}

.creadora {
   background-color: #eeeeee;
   height: 56px;
   padding-top: 5px;
   padding-left: 30px;
}

.autor {
  height: 90%;
  float: right;
}

a {
   text-decoration: none;
   color: #fd8207;
}

a:hover {
   border: 1px solid #fd8207;
   color: black;
}

.imatge {
   display:block;
   margin:auto;
   outline: 6px double rgb(242, 238, 238);
}

.video {
   display:block;
   margin:auto;
   outline: 6px double rgb(242, 238, 238);
   width: 560px;
   height: 315px;
}

iframe + p {
   color: gray;
   text-align: center;
}

hr {
   margin: 0 35px;
}

.llista {
   list-style-type: circle;
}

.dada {
   margin: 30px 60px;
}

footer {
   background-color: #055256;
   height: 100px;
   padding: 20px 400px;
   color: white;
}